<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="0;url=/en/" />
        <title>Redirecting...</title>
    </head>
    <body>
        <p>Redirecting to <a href="/woodpressoil/en/">/en/</a></p>
        <script>
            window.location.href = "/woodpressoil/en/";
        </script>
    </body>
</html>
